<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00-09:45am</td>  <td><a href="https://github.com/sateeshperi/2019-DCG-UNR/blob/master/intro.md">Introduction</a> and Genomics Workshop Overview</td> </tr>
      <tr> <td>9:45-10:30am</td>  <td><a href="https://github.com/sateeshperi/2019-DCG-UNR/blob/master/Loggin_on_Atmosphere_Cloud.rst">Introduction to CyVerse Atmosphere Cloud</a></td> </tr>
      <tr> <td>10:30-10:45am</td>  <td>Coffee/Tea break</td> </tr>
      <tr> <td>10:45-12:00pm</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/bash_lesson.md">BASH- Command Line for Genomics</a></td> </tr>
      <tr> <td>12:00-1:30pm</td>  <td>Lunch Break (lunch will be provided!)</td> </tr>
      <tr> <td>1:30-2:45pm</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/bash_lesson.md">BASH - continued</a> and <a href="https://github.com/sateeshperi/2019-DCG-UNR/blob/master/jetstream-bioconda-config.md">Bioconda</a></td> </tr>
      <tr> <td>2:45-3:00pm</td>  <td>Coffee/Tea Break</td> </tr>
      <tr> <td>3:00-4:00pm</td>  <td>Version control with Github</td> </tr>
      <tr> <td>4:00-5:00pm</td>  <td>Project Organization and Markdown</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:30am</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/quality-trimming.md">RNAseq overview and Trimming sequencing data</a></td> </tr>
      <tr> <td>10:30-10:45am</td>  <td>Coffee/Tea Break</td> </tr>
      <tr> <td>10:45-12:00pm</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/transcriptome-assembly.md">Transcriptome Assembly</a></td> </tr>
      <tr> <td>12:00-1:30pm</td>  <td>Lunch Break (lunch will be provided!)</td> </tr>
      <tr> <td>1:30-2:30pm</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/rnaseq-quant.md">Read Quantification</a></td> </tr>
      <tr> <td>2:30-2:45pm</td>  <td>Coffee/Tea Break</td> </tr>
      <tr> <td>2:45-5:00pm</td>  <td><a href = "https://github.com/sateeshperi/2019-DCG-UNR/blob/master/DE.md">Differential Expression</a> and GO analysis</td> </tr>
    </table>
  </div>
</div>
