<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>9:00-9:45</td> <td> Introduction and Genomics Workshop Overview </td></tr>
      <tr><td>9:45-10:30</td> <td> Introduction to CyVerse Atmosphere Cloud </td></tr>
      <tr><td>10:30-10:45</td><td> Coffee/Tea Break </td></tr></tr>
      <tr><td>10:45-12:00</td> <td> BASH- Command Line for Genomics </td></tr>
      <tr><td>12:00-1:30</td><td> Lunch Break (lunch will be provided!) </td></tr>
      <tr> <td>1:30-2:45</td> <td> BASH - continued and Bioconda </td> </tr>
      <tr> <td>2:45-3:00</td> <td> Coffee/Tea Break </td> </tr>	    
      <tr> <td>3:00-4:00</td> <td> Version control with Github </td> </tr>  
      <tr> <td>4:00-5:00</td> <td> Project Organization and Markdown </td> </tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
      <tr><td>9:00-10:30</td> <td> RNAseq overview and Trimming sequencing data </td></tr>
      <tr><td>10:30-10:45</td><td> Coffee/Tea Break </td></tr></tr>
      <tr><td>10:45-12:00</td> <td> Transcriptome Assembly </td></tr>
      <tr><td>12:00-1:30</td><td> Lunch Break (lunch will be provided!) </td></tr>
      <tr> <td>1:30-2:30</td> <td> Read Quantification </td> </tr>
      <tr> <td>2:30-2:45</td> <td> Coffee/Tea Break </td> </tr>     
      <tr> <td>2:45-5:00</td> <td> Differential Expression and GO analysis </td> </tr>  
      <tr>
	<td>After Workshop</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>	  
    </table>
  </div>
</div>
