<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>9:00-10:00</td> <td> <a href="https://datacarpentry.org/genomics-workshop/">Genomics Workshop Overview</a></td></tr>
      <tr><td>10:00-10:15</td> <td>Coffee Break</td></tr>
      <tr><td>10:15-12:00</td><td><a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management for Genomics</a></td></tr>
      <tr><td>12:00-1:00</td> <td>Lunch Break (lunch will be provided!)</td></tr>
      <tr><td>1:00-2:00</td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line for Genomics</a></td></tr>
      <tr> <td>2:00-2:15</td> <td>Coffee Break</td> </tr>
      <tr> <td>2:15-5:00</td> <td>Version control with Github</td> </tr>	    
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>9:00-10:00</td> <td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr><td>10:00-10:15</td> <td>Coffee Break</td></tr>
      <tr><td>10:15-12:00</td> <td>Cloud computing continued...</td></tr>
      <tr><td>12:00-1:00</td> <td>Lunch Break (lunch will be provided!)</td></tr>
      <tr> <td>1:00-2:00</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing for Genomics: data analysis & visualization</a></td></tr>
      <tr> <td>2:00-2:15</td> <td>Coffee Break</td> </tr>
      <tr> <td>2:15-5:00</td> <td>Data Wrangling continued...</td> </tr>
      <tr>
	<td>4:30 - 5:00</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
